.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.event-form {
  margin: auto;
  padding: 10px;
  width: 20%;
}

.form-group {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}


.form-group-bracket {
  display: flex;
  margin-left: 50px;
  width: 50%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}


.input-field {
  /*height: 25px;*/
  vertical-align: middle;
  margin-left: auto;
}


.top-to-bottom {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px;
}

.alliance-component {
  /*display: flex;*/
  width: 70%;
  display: flex;
  height:100%;
  margin: auto;
}

.team-list {
  width: 90%;
  height: 100%;
  border: 1px solid black;
  margin: 5px;
}

.alliance-list {
  width: 50%;
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
}

.bracket-list {
  width: 40%;
  border: 1px solid black;
  margin: 5px;
  padding: 10px;

}

.alliance-slots {
  display: flex;
  align-items: center;
  margin: 5px;
}

.alliance-slot {
  border: 1px solid black;
  margin: 1px;
  width: 30%;
  padding: 5px;
}

.team-div {
  margin: 1px;
}

.overall-value {
  margin-left: '10px';
  min-width: 50px;
}

.ratings-container {
  width: 50%;
  margin: auto;
}